{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Providing insights into the current state of decisions"
  }) }}

<div class="govuk-body" data-testid="app-page-body">


  <form method="get" action="/analytics/decisions" autocomplete="off" novalidate>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

          {{ govukSelect({
            id: "chedType",
            name: "chedType",
            label: {
              text: "Ched Type"
            },
            items: [
              {
                value: "Cveda",
                text: "CHEDA",
                selected: chedType == "Cveda"
              },
              {
                value: "All",
                text: "All",
                selected: chedType == "All"
              }
            ]
          }) }}
          {{ govukSelect({
            id: "coo",
            name: "coo",
            label: {
              text: "Country Of Origin"
            },
            items: [
              {
                value: "FR",
                text: "France",
                selected: coo == "FR"
              },
              {
                value: "All",
                text: "All",
                selected: coo == "All"
              }
            ]
          }) }}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Apply",
              classes: "govuk-button--primary",
              preventDoubleClick: true
            }) }}
          </div>


    </div>
    <div class="govuk-grid-column-one-third">

          {{ govukSelect({
            id: "dateFrom",
            name: "dateFrom",
            label: {
              text: "Date From"
            },
            items: [
              {
                value: "2024-12-16",
                text: "16th December",
                selected: dateTo === "2024-12-16"
              },
              {
                value: minDate,
                text: "All",
                selected: dateFrom === minDate
              }
            ]
          }) }}

          {{ govukSelect({
            id: "dateTo",
            name: "dateTo",
            label: {
              text: "Date To"
            },
            items: [
              {
                value: "2024-12-23",
                text: "23rd December",
                selected: dateTo === "2024-12-23"
              },
              {
                value: maxDate,
                text: "All",
                selected: dateTo === maxDate
              }
            ]
          }) }}
    </div>

    <div class="govuk-grid-column-one-third">

    </div>
  </div>
  </form>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      {% call govukFieldset({
        legend: {
          text: "Decisions",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: false
        }
      }) %}


        {{ appEntityList({
            headings: [
              { text: "Check Code", size: "small" },
              { text: "Alvs Decision", size: "small" },
              { text: "Btms Decision", size: "small" },
              { text: "#", size: "small" },
              { text: "Classification", size: "medium" }
            ],
            entityRows: decisions,
            noResult: "There is no decision report available at the moment"
          }) }}
      {% endcall %}

    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <canvas data-renderer="btms-dashboard" id="movementsExceptions"></canvas>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <canvas data-renderer="btms-dashboard" id="movementsBySegment"></canvas>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <canvas data-renderer="btms-dashboard" id="decisionsByDecisionCode"></canvas>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <canvas data-renderer="btms-dashboard" id="importNotificationsByVersion"></canvas>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <canvas data-renderer="btms-dashboard" id="movementsByMaxEntryVersion"></canvas>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <canvas data-renderer="btms-dashboard" id="movementsByMaxDecisionNumber"></canvas>
        </div>
      </div>

    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

          {% call govukFieldset({
            legend: {
              text: "Exceptions",
              classes: "govuk-fieldset__legend--l",
              isPageHeading: false
            }
          }) %}

            {{ appEntityList({
                headings: [
                  { text: "MRN", size: "mrn" },
                  { text: "Items", size: "small" },
                  { text: "Max Entry Version", size: "small" },
                  { text: "Max Decision #", size: "small" },
                  { text: "# Linked CHEDs", size: "small" },
                  { text: "Status", size: "small" },
                  { text: "Updated", size: "medium" },
                  { text: "Reason", size: "large" }
                ],
                entityRows: exceptions,
                noResult: "There are no exceptions to report at the moment"
              }) }}
          {% endcall %}

        </div>
      </div>
  </div>

</div>

<script>
window.onload = function(event) {
  window["analytics"]("{{analyticsFilter|safe }}")
};
</script>
{% endblock %}
