{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Providing insights into the current state of the BTMS data."
  }) }}


<div class="govuk-body" data-testid="app-page-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <canvas data-renderer="btms-dashboard" id="lastMonthImportNotificationsByTypeAndStatus"></canvas>
    </div>
    <div class="govuk-grid-column-one-half">
      <canvas data-renderer="btms-dashboard" id="lastMonthMovementsByStatus"></canvas>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <canvas data-renderer="btms-dashboard" id="last7DaysImportNotificationsLinkingStatus"></canvas>
    </div>
    <div class="govuk-grid-column-one-half">
      <canvas data-renderer="btms-dashboard" id="last24HoursImportNotificationsLinkingStatus"></canvas>
    </div>
  </div>
  <hr class="govuk-section-break govuk-grid-column-full govuk-section-break--l govuk-section-break--visible"/>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div><canvas data-renderer="btms-dashboard" id="last24HoursMovementsLinkingByCreated"></canvas></div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div><canvas data-renderer="btms-dashboard" id="last24HoursImportNotificationsLinkingByCreated"></canvas></div>
    </div>
  </div>

  <hr class="govuk-section-break govuk-grid-column-full govuk-section-break--l govuk-section-break--visible"/>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div><canvas data-renderer="btms-dashboard" id="importNotificationsLinkingByCreated"></canvas></div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div><canvas data-renderer="btms-dashboard" id="importNotificationsLinkingByArrival"></canvas></div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-grid-column-full govuk-section-break--l govuk-section-break--visible"/>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div><canvas data-renderer="btms-dashboard" id="movementsLinkingByCreated"></canvas></div>
    </div>
  </div>

  <hr class="govuk-section-break govuk-grid-column-full govuk-section-break--l govuk-section-break--visible"/>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div><canvas data-renderer="btms-dashboard" id="lastMonthMovementsByItemCount"></canvas></div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div><canvas data-renderer="btms-dashboard" id="lastMonthMovementsByUniqueDocumentReferenceCount"></canvas></div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div><canvas data-renderer="btms-dashboard" id="lastMonthImportNotificationsByCommodityCount"></canvas></div>
    </div>
  </div>
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <canvas data-renderer="btms-dashboard" id="lastMonthUniqueDocumentReferenceByMovementCount"></canvas>
      </div>
      <div class="govuk-grid-column-one-half">
        <canvas id="todo"></canvas>
      </div>
    </div>
</div>

<script>
window.onload = function(event) {
  window["analytics"]()
};
</script>
{% endblock %}
