{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "View History For MRN " + mrn
  }) }}


  {% call govukFieldset({
    legend: {
      text: "History",
      classes: "govuk-fieldset__legend--l",
      isPageHeading: false
    }
  }) %}

    {{ appEntityList({
        headings: [
          { text: "Source", size: "large" },
          { text: "Created", size: "large" },
          { text: "Type", size: "small" },
          { text: "Id", size: "medium" },
          { text: "Status", size: "small" }
        ],
        entityRows: history,
        noResult: "There is no history available at the moment"
      }) }}
  {% endcall %}

{% endblock %}
